<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            margin: 300px;
        }
        .message {
            border: 2px solid black;
            color: white;
            background-color: red;
            margin: 50px 300px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="message">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>

    <div class="box">
        <form action="/success" method="POST">
            <p>Email Address: <input type="text" name="email"></p>
        </form>
    </div>
</body>
</html>